<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server = .\sql2005;database = StudentManager;uid = sa;pwd= sa;"/>
    <add key ="userName" value=""/>
    <add key ="imageSize" value="200"/>
    <add key ="studentCapaticyInClass" value="30"/>
  </appSettings>
</configuration>